<footer><a href="https://www.flaticon.com/free-icons/emoji" title="emoji icons">Emoji icons created by justicon - Flaticon</a><br>
    <a href="https://www.freepik.com/free-photo/adorable-white-bulldog-puppy-portrait-social-banner_21632686.htm#query=banner%20pets&position=20&from_view=search&track=sph">Image by rawpixel.com</a> on Freepik<br>
    <a href="https://www.flaticon.com/free-icons/khao-manee-cat" title="khao manee cat icons">Khao manee cat icons created by Vitaly Gorbachev - Flaticon</a><br>
    <a href="https://www.flaticon.com/free-icons/lizard" title="lizard icons">Lizard icons created by Freepik - Flaticon</a><br>
    <a href="https://www.flaticon.com/free-icons/guinea-pig" title="guinea pig icons">Guinea pig icons created by Freepik - Flaticon</a>
    Photo by Melissa Jansen van Rensburg : https://www.pexels.com/photo/photo-of-brown-and-white-boston-terrier-puppy-sitting-on-grass-1954515/
    Photo by Monique Laats: https://www.pexels.com/photo/brown-short-coated-cat-736532/
    Photo by Jeet Bisht: https://www.pexels.com/photo/close-up-photo-of-iguana-on-leaves-2677026/
    Photo by Pixabay: https://www.pexels.com/photo/brown-hamster-eating-a-green-leaf-50572/
    Video by cottonbro: https://www.pexels.com/video/woman-girl-bed-bedroom-4057303/
    Music by <a href="https://pixabay.com/users/lemonmusicstudio-14942887/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=music&amp;utm_content=108600">lemonmusicstudio</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=music&amp;utm_content=108600">Pixabay</a>
    </footer>